.venv/
.vscode/
.idea/
__pycache__/
temp/
**/.ipynb_checkpoints/

.DS_Store

**/wandb/
**/data/

**/*.pt
**/*.dat
**/*.pickle
**/*.npz

**/*.mp4
**/*.pdf

docs/build/
docs/source/examples/
docs/source/measure_uq/
